.primary-button{
    background: linear-gradient(180deg, #00E6F6 0%, #08777E 100%);
    border: 2px solid #4AF3FF;
    border-radius: 100px;
    padding: 4px 8px 4px 8px;
    gap: 10px;
}

.group-container {
    background: #1E284A;
    border: 2px solid #FFFFFF0D;
    box-shadow: 0px 4.11px 13.16px 0px #0000000F;
}

.description-color {
    color: #47516A;
}

.text-shadow {
    text-shadow: 0px 3.29px 6.58px rgba(0, 0, 0, 0.3);
}

.box-shadow {
    box-shadow: 0px 4.11px 13.16px 0px #0000000F;
}

.dropdown-item-container {
    background: #151A32;
    border: 1px solid #161E3A;
    @apply rounded-[8px] h-[36px] p-2;
}

.dropdown-text-color {
    color: #C0BAE4;
}