@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.righteous-bold {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.proximanova-bold {
    font-family: "Proximanova", sans-serif;
    font-weight: 700;
}




body {
    @apply h-full w-full flex flex-col;
}

:root {
    @apply bg-grey-200 flex-grow h-full w-full flex;
}

body #root {
    @apply h-full w-full;
}


